APP_NAME=
NEXT_PUBLIC_SITE_URL=

# Databases
DATABASE_URL="postgresql://username:password@localhost:5432/DB_NAME?schema=public"
DIRECT_URL="postgresql://username:password@localhost:5432/DB_NAME?schema=public"

# Proxy
PROXY_HOST=
PROXY_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=

# AI

OPENAI_API_KEY=
ANTHROPIC_API_KEY=